body, p, input {
    font-family: monospace;
    font-size: 14px;
    border: none;
    background: black;
    font-weight: bold;
}
p { white-space: pre; }
p, form {
    width: 100%;
    margin: 0; 
    padding: 0; 
}
form { display: table; }
span { 
    display: table-cell;
    width: 1px;
}
input {
    display: table-cell;
    width: 100%;
}


input:focus { 
    outline: none; 
    border: none; 
}

body::-webkit-scrollbar
{
	width: 10px;
	height: 10px;
	background-color: black;
}
body::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: white;
}
body::-webkit-scrollbar-corner {
    background-color: black;
}